<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baizhi.dao.UserDao">
    <insert id="insertUser">
        INSERT INTO user.user (name, mobile, birthday)
        VALUES (#{name}, #{mobile}, #{birthday})
    </insert>

    <delete id="deleteUser">
        DELETE FROM user.user
        WHERE id = #{id}
    </delete>

    <update id="updateUser">
        update user.user
        <set>
            <if test="name!=null">name = #{name},</if>
            <if test="mobile!=null">mobile = #{mobile},</if>
            <if test="birthday!=null">birthday = #{birthday},</if>
        </set>
        where id = #{id}
    </update>

    <select id="selectUser" resultType="User">
        select
        id,
        name,
        mobile,
        birthday
        from user.user
        <where>
            <if test="user.id!=null">id=#{user.id}</if>
        </where>
        <if test="page.firstRow!=null">limit ${page.firstRow},${page.pageSize}</if>
    </select>
    <select id="selectTotalRows" resultType="java.lang.Integer">
        SELECT count(*)
        FROM user
    </select>
</mapper>
