<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.anno.dao.PersonDao">
    <select id="selectPerson" resultType="com.baizhi.anno.entity.Person">
        SELECT
            id,
            name,
            mobile,
            telphone,
            email,
            city
        FROM telbook.person
    </select>
</mapper>