<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVCLogin:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVCLogin_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMVCLogin/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVCLogin" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="application" name="Lib" />
        </element>
      </element>
    </root>
  </artifact>
</component>